<form class="form form-login">
	<h2 class="form-login-heading">Sign into Maiden</h2>
	<input id="email" name="email" type="text" class="input-block-level" placeholder="email">
	<label class="checkbox">
		<input id="remember-me" name="remember-me" type="checkbox"> Remember me
	</label>
	<input id="password" name="password" type="password" class="input-block-level" placeholder="password">
	<a href="" class="forgot-password">forgot password?</a>
	<button id="login" class="btn btn-large btn-primary" type="button">Login</button>
	<a href="signUp.html" class="sign-up">sign up</a>
	<div id="errors"></div>
</form>